In [72]:
import numpy as np
import os
import pandas as pd
from urllib.request import urlretrieve


url = "https://www.nhc.noaa.gov/data/hurdat/hurdat2-1851-2017-050118.txt"

local_fname = "hurdat2.txt"
if not os.path.exists("hurdat2.txt"):
    urlretrieve(url, local_fname)

In [73]:
colnames = ['date','time','record_id','status','latitude','longitude','max_wind','min_pressure','ne34ktr','se34ktr','sw34ktr','nw34ktr','ne50ktr','se50ktr','sw50ktr','nw50ktr','ne64ktr','se64ktr','sw64ktr','nw64ktr']
df = pd.read_csv("./hurdat2.txt",names=colnames,skipinitialspace=True,usecols=range(20))
df

,date,time,record_id,status,latitude,longitude,max_wind,min_pressure,ne34ktr,se34ktr,sw34ktr,nw34ktr,ne50ktr,se50ktr,sw50ktr,nw50ktr,ne64ktr,se64ktr,sw64ktr,nw64ktr
0,AL011851,UNNAMED,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18510625,0000,NaN,HU,28.0N,94.8W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,18510625,0600,NaN,HU,28.0N,95.4W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,18510625,1200,NaN,HU,28.0N,96.0W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,18510625,1800,NaN,HU,28.1N,96.5W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52146,20171108,1200,NaN,TS,38.3N,48.8W,45.0,994.0,160.0,160.0,0.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52147,20171108,1800,NaN,TS,40.1N,49.0W,45.0,992.0,180.0,180.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52148,20171109,0000,NaN,TS,41.8N,48.8W,45.0,991.0,180.0,200.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52149,20171109,0600,NaN,LO,43.6N,48.0W,40.0,993.0,160.0,210.0,0.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52150,20171109,1200,NaN,LO,45.5N,47.0W,40.0,995.0,160.0,240.0,0.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
test_df = df[df['date'].str.contains(r'[A-Z]')]
test_df.sort_values('date')
test_df

,date,time,record_id,status,latitude,longitude,max_wind,min_pressure,ne34ktr,se34ktr,sw34ktr,nw34ktr,ne50ktr,se50ktr,sw50ktr,nw50ktr,ne64ktr,se64ktr,sw64ktr,nw64ktr
0,AL011851,UNNAMED,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,AL021851,UNNAMED,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,AL031851,UNNAMED,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,AL041851,UNNAMED,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,AL051851,UNNAMED,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51971,AL152017,MARIA,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52040,AL162017,NATE,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52073,AL172017,OPHELIA,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52121,AL182017,PHILIPPE,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52129,AL192017,RINA,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
id_dic = {'date':'identifier','time':'name','record_id':'num_pts'}
id_df = df[df['date'].str.contains('AL')][id_dic.keys()].rename(id_dic,axis=1)
id_df

      identifier      name num_pts
0       AL011851   UNNAMED      14
15      AL021851   UNNAMED       1
17      AL031851   UNNAMED       1
19      AL041851   UNNAMED      49
69      AL051851   UNNAMED      16
...          ...       ...     ...
51971   AL152017     MARIA      68
52040   AL162017      NATE      32
52073   AL172017   OPHELIA      47
52121   AL182017  PHILIPPE       7
52129   AL192017      RINA      21

[1848 rows x 3 columns]

In [76]:
df.drop(index=id_df.index,inplace=True)
id_df.index+=1
df

,date,time,record_id,status,latitude,longitude,max_wind,min_pressure,ne34ktr,se34ktr,sw34ktr,nw34ktr,ne50ktr,se50ktr,sw50ktr,nw50ktr,ne64ktr,se64ktr,sw64ktr,nw64ktr
1,18510625,0000,NaN,HU,28.0N,94.8W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,18510625,0600,NaN,HU,28.0N,95.4W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,18510625,1200,NaN,HU,28.0N,96.0W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,18510625,1800,NaN,HU,28.1N,96.5W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
5,18510625,2100,L,HU,28.2N,96.8W,80.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52146,20171108,1200,NaN,TS,38.3N,48.8W,45.0,994.0,160.0,160.0,0.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52147,20171108,1800,NaN,TS,40.1N,49.0W,45.0,992.0,180.0,180.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52148,20171109,0000,NaN,TS,41.8N,48.8W,45.0,991.0,180.0,200.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52149,20171109,0600,NaN,LO,43.6N,48.0W,40.0,993.0,160.0,210.0,0.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52150,20171109,1200,NaN,LO,45.5N,47.0W,40.0,995.0,160.0,240.0,0.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [77]:
df = id_df.join(df,how='outer').reset_index(drop=True)
for col in id_dic.values():
    df[col] = df[col].ffill()
df

,identifier,name,num_pts,date,time,record_id,status,latitude,longitude,max_wind,...,sw34ktr,nw34ktr,ne50ktr,se50ktr,sw50ktr,nw50ktr,ne64ktr,se64ktr,sw64ktr,nw64ktr
0,AL011851,UNNAMED,14,18510625,0000,NaN,HU,28.0N,94.8W,80.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
1,AL011851,UNNAMED,14,18510625,0600,NaN,HU,28.0N,95.4W,80.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,AL011851,UNNAMED,14,18510625,1200,NaN,HU,28.0N,96.0W,80.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,AL011851,UNNAMED,14,18510625,1800,NaN,HU,28.1N,96.5W,80.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,AL011851,UNNAMED,14,18510625,2100,L,HU,28.2N,96.8W,80.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50298,AL192017,RINA,21,20171108,1200,NaN,TS,38.3N,48.8W,45.0,...,0.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50299,AL192017,RINA,21,20171108,1800,NaN,TS,40.1N,49.0W,45.0,...,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50300,AL192017,RINA,21,20171109,0000,NaN,TS,41.8N,48.8W,45.0,...,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50301,AL192017,RINA,21,20171109,0600,NaN,LO,43.6N,48.0W,40.0,...,0.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50302,AL192017,RINA,21,20171109,1200,NaN,LO,45.5N,47.0W,40.0,...,0.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
df.replace([-999,'UNNAMED'],np.nan,inplace=True)
df['date']=pd.to_datetime((df['date']+df['time']))
df = df.drop('time',axis=1).rename({'date':'datetime'},axis=1)
df

,identifier,name,num_pts,datetime,record_id,status,latitude,longitude,max_wind,min_pressure,...,sw34ktr,nw34ktr,ne50ktr,se50ktr,sw50ktr,nw50ktr,ne64ktr,se64ktr,sw64ktr,nw64ktr
0,AL011851,NaN,14,1851-06-25 00:00:00,NaN,HU,28.0N,94.8W,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL011851,NaN,14,1851-06-25 06:00:00,NaN,HU,28.0N,95.4W,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL011851,NaN,14,1851-06-25 12:00:00,NaN,HU,28.0N,96.0W,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL011851,NaN,14,1851-06-25 18:00:00,NaN,HU,28.1N,96.5W,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL011851,NaN,14,1851-06-25 21:00:00,L,HU,28.2N,96.8W,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50298,AL192017,RINA,21,2017-11-08 12:00:00,NaN,TS,38.3N,48.8W,45.0,994.0,...,0.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50299,AL192017,RINA,21,2017-11-08 18:00:00,NaN,TS,40.1N,49.0W,45.0,992.0,...,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50300,AL192017,RINA,21,2017-11-09 00:00:00,NaN,TS,41.8N,48.8W,45.0,991.0,...,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50301,AL192017,RINA,21,2017-11-09 06:00:00,NaN,LO,43.6N,48.0W,40.0,993.0,...,0.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50302,AL192017,RINA,21,2017-11-09 12:00:00,NaN,LO,45.5N,47.0W,40.0,995.0,...,0.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
def convert_coord(x):
    x = str(x)
    num = float(x[:-1])
    if x[-1] in 'SW':
        return -num
    else:
        return num

df[['latitude','longitude']] = df[['latitude','longitude']].map(convert_coord)
df

,identifier,name,num_pts,datetime,record_id,status,latitude,longitude,max_wind,min_pressure,...,sw34ktr,nw34ktr,ne50ktr,se50ktr,sw50ktr,nw50ktr,ne64ktr,se64ktr,sw64ktr,nw64ktr
0,AL011851,NaN,14,1851-06-25 00:00:00,NaN,HU,28.0,-94.8,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL011851,NaN,14,1851-06-25 06:00:00,NaN,HU,28.0,-95.4,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL011851,NaN,14,1851-06-25 12:00:00,NaN,HU,28.0,-96.0,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL011851,NaN,14,1851-06-25 18:00:00,NaN,HU,28.1,-96.5,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL011851,NaN,14,1851-06-25 21:00:00,L,HU,28.2,-96.8,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50298,AL192017,RINA,21,2017-11-08 12:00:00,NaN,TS,38.3,-48.8,45.0,994.0,...,0.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50299,AL192017,RINA,21,2017-11-08 18:00:00,NaN,TS,40.1,-49.0,45.0,992.0,...,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50300,AL192017,RINA,21,2017-11-09 00:00:00,NaN,TS,41.8,-48.8,45.0,991.0,...,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50301,AL192017,RINA,21,2017-11-09 06:00:00,NaN,LO,43.6,-48.0,40.0,993.0,...,0.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50302,AL192017,RINA,21,2017-11-09 12:00:00,NaN,LO,45.5,-47.0,40.0,995.0,...,0.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [80]:
df.to_csv('hurdat2.csv',index=False)
df = pd.read_csv('./hurdat2.csv')
df

,identifier,name,num_pts,datetime,record_id,status,latitude,longitude,max_wind,min_pressure,...,sw34ktr,nw34ktr,ne50ktr,se50ktr,sw50ktr,nw50ktr,ne64ktr,se64ktr,sw64ktr,nw64ktr
0,AL011851,NaN,14,1851-06-25 00:00:00,NaN,HU,28.0,-94.8,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL011851,NaN,14,1851-06-25 06:00:00,NaN,HU,28.0,-95.4,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL011851,NaN,14,1851-06-25 12:00:00,NaN,HU,28.0,-96.0,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL011851,NaN,14,1851-06-25 18:00:00,NaN,HU,28.1,-96.5,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL011851,NaN,14,1851-06-25 21:00:00,L,HU,28.2,-96.8,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50298,AL192017,RINA,21,2017-11-08 12:00:00,NaN,TS,38.3,-48.8,45.0,994.0,...,0.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50299,AL192017,RINA,21,2017-11-08 18:00:00,NaN,TS,40.1,-49.0,45.0,992.0,...,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50300,AL192017,RINA,21,2017-11-09 00:00:00,NaN,TS,41.8,-48.8,45.0,991.0,...,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50301,AL192017,RINA,21,2017-11-09 06:00:00,NaN,LO,43.6,-48.0,40.0,993.0,...,0.0,120.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50302,AL192017,RINA,21,2017-11-09 12:00:00,NaN,LO,45.5,-47.0,40.0,995.0,...,0.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
import altair as alt
import vega_datasets

states_data = alt.topo_feature(vega_datasets.data.us_10m.url, "states")
states = alt.Chart(states_data).mark_geoshape(
    stroke='black',
    strokeWidth=1
    ).transform_filter((alt.datum.id != 2) & (alt.datum.id != 15))


df = pd.read_csv('./hurdat2.csv', parse_dates=['datetime'])

maria = df[(df['datetime'] > '2017-01-01') & (df['name'] == 'MARIA')]

hurricanes = alt.Chart(maria).mark_line().encode(
    longitude='longitude:Q',
    latitude='latitude:Q',
    order='datetime:T'
)

(states + hurricanes).properties(width=700, height=400, title="Hurricane Maria (2017)").interactive()

alt.LayerChart(...)