In [103]:
import pandas as pd

In [104]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[1,2,3,4],'col3':[1,2,3,4],'col4':[1,2,3,4]})
df

   col1  col2  col3  col4
0     1     1     1     1
1     2     2     2     2
2     3     3     3     3
3     4     4     4     4

In [107]:
df.reindex([3,2,1,0],method='ffill')

   col1  col2  col3  col4
3     4     4     4     4
2     3     3     3     3
1     2     2     2     2
0     1     1     1     1