In [21]:
import pandas as pd
import numpy as np

In [22]:
obj = pd.Series([7,14,-2,1])
obj2 = pd.Series([4,7,-5,3],
                 index=['d','b','a','c'])
obj3 = pd.Series({'Ohio':35000,
                  'Texas':71000,
                  'Oregon':16000,
                  'Utah':5000})

In [23]:
print(obj,"\n\n",obj2,"\n\n",obj3)

0     7
1    14
2    -2
3     1
dtype: int64

 d    4
b    7
a   -5
c    3
dtype: int64

 Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [24]:
arr = [1,2,3,4]
ind = ['a','b','c','d']
df = pd.Series(arr,ind)
print(df)

a    1
b    2
c    3
d    4
dtype: int64

In [25]:
print(df.index,'\n\n',df.values)
obj3.sort_values(inplace=True,ascending=False)
obj3

Index(['a', 'b', 'c', 'd'], dtype='object')

 [1 2 3 4]

Texas     71000
Ohio      35000
Oregon    16000
Utah       5000
dtype: int64

In [26]:
arr = [5,6,7,8]
index = ['a','b','c','d']
s = pd.Series(arr,index=index)
s.name = 'Population'
s.index.name = 'State'
df = pd.DataFrame(s)
df

       Population
State
a               5
b               6
c               7
d               8

In [27]:
t = pd.Series([10,20,30,40,50],['a','b','c','d','e'])
t+=50
t = pd.DataFrame(t)
t['Passed?'] = t>50
t

     0  Passed?
a   60     True
b   70     True
c   80     True
d   90     True
e  100     True

In [32]:
import pandas as pd

In [33]:
s = pd.Series(['a','b','c','d'])
df = pd.DataFrame([1,2,3,4],['e','f','g','h'])

In [ ]:
s_reindex = s.reindex()

a    NaN
b    NaN
c    NaN
d    NaN
dtype: object