In [4]:
import pandas as pd

df = pd.read_csv('datasets/world_population.csv')
df.head(10)

,Country,Region,Population,Area (km²),Population Density,Urban Population (%)
0,China,Asia,1444216,9600000,150.44,60.3
1,India,Asia,1393409,3287263,423.07,34.9
2,United States,North America,332915,9833517,33.86,83.7
3,Indonesia,Asia,276361,1910931,144.65,56.4
4,Pakistan,Asia,225199,881912,255.35,37.6
5,Brazil,South America,213993,8515767,25.13,87.1
6,Nigeria,Africa,211401,923768,228.79,51.2
7,Russia,Europe,146171,17098246,8.55,74.4
8,Japan,Asia,125836,377975,332.89,91.8
9,Mexico,North America,126014,1964375,64.17,80.7

In [6]:
df.columns

Index(['Country', 'Region', 'Population', 'Area (km²)', 'Population Density',
       'Urban Population (%)'],
      dtype='object')

In [7]:
df.dtypes

Country                  object
Region                   object
Population                int64
Area (km²)                int64
Population Density      float64
Urban Population (%)    float64
dtype: object

In [8]:
df.isnull().sum()

Country                 0
Region                  0
Population              0
Area (km²)              0
Population Density      0
Urban Population (%)    0
dtype: int64

In [9]:
df.describe()

         Population    Area (km²)  Population Density  Urban Population (%)
count  1.000000e+01  1.000000e+01           10.000000             10.000000
mean   4.495515e+05  5.439375e+06          166.690000             65.810000
std    5.150910e+05  5.557266e+06          141.036491             20.623312
min    1.258360e+05  3.779750e+05            8.550000             34.900000
25%    1.624785e+05  1.170559e+06           41.437500             52.500000
50%    2.195960e+05  2.625819e+06          147.545000             67.350000
75%    3.187765e+05  9.328942e+06          248.710000             82.950000
max    1.444216e+06  1.709825e+07          423.070000             91.800000

In [38]:
df.sort_values('Population',ascending=False,inplace=True)
print(df.iloc[0]['Country'])

China

In [40]:
print(df['Population'].mean())

449551.5

In [41]:
df.sort_values('Population Density', ascending=False,inplace=True)
df.head()

,Country,Region,Population,Area (km²),Population Density,Urban Population (%)
1,India,Asia,1393409,3287263,423.07,34.9
8,Japan,Asia,125836,377975,332.89,91.8
4,Pakistan,Asia,225199,881912,255.35,37.6
6,Nigeria,Africa,211401,923768,228.79,51.2
0,China,Asia,1444216,9600000,150.44,60.3

In [54]:
df[df['Urban Population (%)'] > 70].shape[0]

5

In [77]:
print(df.groupby('Region').sum().sort_values('Population',ascending=False))

                                        Country  Population  Area (km²)  \
Region
Asia           IndiaJapanPakistanChinaIndonesia     3465021    16058081
North America               MexicoUnited States      458929    11797892
South America                            Brazil      213993     8515767
Africa                                  Nigeria      211401      923768
Europe                                   Russia      146171    17098246

               Population Density  Urban Population (%)
Region
Asia                      1306.40                 281.0
North America               98.03                 164.4
South America               25.13                  87.1
Africa                     228.79                  51.2
Europe                       8.55                  74.4