In [431]:
import pandas as pd
import altair as alt

df = pd.read_csv("./hurdat2-1.csv")
df.head()

,identifier,name,num_pts,record_id,status,latitude,longitude,max_wind,min_pressure,datetime
0,AL011851,UNNAMED,14,NaN,HU,28.0,-94.8,80,-999,1851-06-25T00:00:00
1,AL011851,UNNAMED,14,NaN,HU,28.0,-95.4,80,-999,1851-06-25T06:00:00
2,AL011851,UNNAMED,14,NaN,HU,28.0,-96.0,80,-999,1851-06-25T12:00:00
3,AL011851,UNNAMED,14,NaN,HU,28.1,-96.5,80,-999,1851-06-25T18:00:00
4,AL011851,UNNAMED,14,L,HU,28.2,-96.8,80,-999,1851-06-25T21:00:00

In [432]:
df_names = df[["name","identifier"]].drop_duplicates()
df_names = df_names[df_names["name"] != "UNNAMED"]
df_names

             name identifier
21879        ABLE   AL011950
21930       BAKER   AL021950
21990     CHARLIE   AL031950
22051         DOG   AL041950
22125        EASY   AL051950
22164         FOX   AL061950
22202      GEORGE   AL071950
22244         HOW   AL081950
22259        ITEM   AL091950
22275         JIG   AL101950
22302        KING   AL111950
22364        LOVE   AL131950
22385        MIKE   AL141950
22460        ABLE   AL021951
22496       BAKER   AL031951
22511     CHARLIE   AL041951
22563         DOG   AL051951
22601        EASY   AL061951
22656         FOX   AL071951
22691      GEORGE   AL081951
22702         HOW   AL091951
22755        ITEM   AL101951
22778         JIG   AL111951
22847        ABLE   AL021952
22919       BAKER   AL041952
22986     CHARLIE   AL061952
23015         DOG   AL071952
23062        EASY   AL091952
23083         FOX   AL101952
23144       ALICE   AL011953
23215     BARBARA   AL031953
23241       CAROL   AL041953
23306       DOLLY   AL061953
23341        EDNA   AL071953
23392    FLORENCE   AL091953
23411        GAIL   AL101953
23471       HAZEL   AL121953
23578       ALICE   AL031954
23606     BARBARA   AL051954
23620       CAROL   AL061954
23650       DOLLY   AL071954
23668        EDNA   AL081954
23717    FLORENCE   AL101954
23739       GILDA   AL121954
23811       HAZEL   AL141954
23888       ALICE   AL161954
23917      BRENDA   AL011955
23931      CONNIE   AL021955
23980       DIANE   AL031955
24047       EDITH   AL041955
24121       FLORA   AL061955
24152      GLADYS   AL071955
24166        IONE   AL081955
24235       HILDA   AL091955
24274       JANET   AL101955
24354       KATIE   AL131955
24389        ANNA   AL021956
24398       BETSY   AL031956
24448       CARLA   AL041956
24486        DORA   AL051956
24498       ETHEL   AL061956
24509      FLOSSY   AL071956
24561       GRETA   AL081956
24680      AUDREY   AL021957
24700      BERTHA   AL031957
24714      CARRIE   AL041957
24809      DEBBIE   AL051957
24819      ESTHER   AL061957
24834      FRIEDA   AL071957
24883        ALMA   AL011958
24893       BECKY   AL021958
24930        CLEO   AL031958
24977       DAISY   AL041958
25007        ELLA   AL051958
25042        FIFI   AL061958
25072       GERDA   AL071958
25106      HELENE   AL081958
25160        ILSA   AL091958
25186      JANICE   AL101958
25256      ARLENE   AL011959
25280      BEULAH   AL021959
25315       CINDY   AL041959
25350       DEBRA   AL051959
25372       EDITH   AL061959
25378       FLORA   AL071959
25395      GRACIE   AL081959
25445      HANNAH   AL091959
25491       IRENE   AL101959
25504      JUDITH   AL111959
25636        ABBY   AL021960
25670      BRENDA   AL031960
25716        CLEO   AL041960
25730       DONNA   AL051960
25802       ETHEL   AL061960
25824    FLORENCE   AL071960
25873        ANNA   AL011961
25893       BETSY   AL021961
25934       CARLA   AL031961
25985      DEBBIE   AL041961
26025      ESTHER   AL051961
26106     FRANCES   AL071961
26147       GERDA   AL081961
26175      HATTIE   AL091961
26195       JENNY   AL101961
26229        INGA   AL111961
26244        ALMA   AL011962
26274       BECKY   AL021962
26297       CELIA   AL031962
26337       DAISY   AL041962
26378        ELLA   AL051962
26414      ARLENE   AL011963
26457      BEULAH   AL021963
26512       CINDY   AL041963
26527       DEBRA   AL051963
26550       EDITH   AL061963
26574       FLORA   AL071963
26643       GINNY   AL081963
26699      HELENA   AL091963
26781        ABBY   AL031964
26794      BRENDA   AL041964
26807        CLEO   AL051964
26871        DORA   AL061964
26946       ETHEL   AL071964
26995    FLORENCE   AL081964
27014      GLADYS   AL091964
27062       HILDA   AL101964
27092      ISBELL   AL111964
27177        ANNA   AL021965
27199       BETSY   AL031965
27268       CAROL   AL041965
27331      DEBBIE   AL051965
27354       ELENA   AL061965
27381        ALMA   AL011966
27423       BECKY   AL021966
27432       CELIA   AL031966
27468        ELLA   AL051966
27494     DOROTHY   AL041966
27531       FAITH   AL061966
27600       GRETA   AL071966
27626      HALLIE   AL081966
27633        INEZ   AL091966
27714      JUDITH   AL101966
27729        LOIS   AL111966
27905      ARLENE   AL111967
27934       CHLOE   AL121967
28002      BEULAH   AL131967
28072       DORIA   AL141967
28206       EDITH   AL181967
28227        FERN   AL191967
28249      GINGER   AL211967
28286       HEIDI   AL251967
28353        ABBY   AL011968
28404      BRENDA   AL021968
28441       CANDY   AL031968
28461       DOLLY   AL051968
28530        EDNA   AL081968
28629     FRANCES   AL121968
28677      GLADYS   AL141968
28769        ANNA   AL061969
28815     BLANCHE   AL071969
28825      DEBBIE   AL081969
28870     CAMILLE   AL091969
28933         EVE   AL121969
28945   FRANCELIA   AL131969
29006       GERDA   AL161969
29025       HOLLY   AL171969
29077        INGA   AL201969
29228       JENNY   AL241969
29250        KARA   AL251969
29298      LAURIE   AL261969
29385      MARTHA   AL291969
29402        ALMA   AL011970
29441       BECKY   AL021970
29482       CELIA   AL041970
29574     DOROTHY   AL091970
29633        ELLA   AL121970
29653      FELICE   AL131970
29763       GRETA   AL161970
29863      ARLENE   AL011971
29918        BETH   AL061971
29964       CHLOE   AL081971
29993       DORIA   AL091971
30046        FERN   AL111971
30107       EDITH   AL131971
30158      GINGER   AL141971
30306       HEIDI   AL171971
30323       IRENE   AL181971
30360      JANICE   AL191971
30408      KRISTY   AL211971
30424       LAURA   AL221971
30463       ALPHA   AL011972
30487       AGNES   AL021972
30603       BETTY   AL101972
30645      CARRIE   AL111972
30683        DAWN   AL131972
30722     CHARLIE   AL141972
30817       DELTA   AL191972
30877       ALICE   AL041973
30908        ALFA   AL061973
30928      BRENDA   AL081973
30944   CHRISTINE   AL091973
30986       DELIA   AL101973
31034       ELLEN   AL121973
31080        FRAN   AL141973
31109       GILDA   AL161973
31259        ALMA   AL071974
31281       BECKY   AL091974
31309      CARMEN   AL101974
31395       DOLLY   AL121974
31407      ELAINE   AL131974
31445        FIFI   AL141974
31505    GERTRUDE   AL171974
31596         AMY   AL021975
31632     BLANCHE   AL041975
31668    CAROLINE   AL071975
31701       DORIS   AL081975
31787      ELOISE   AL131975
31834        FAYE   AL141975
31880      GLADYS   AL151975
31965      HALLIE   AL191975
32082        ANNA   AL061976
32119       BELLE   AL071976
32137      DOTTIE   AL081976
32152     CANDICE   AL091976
32177        EMMY   AL101976
32239     FRANCES   AL111976
32356      GLORIA   AL171976
32450       HOLLY   AL211976
32506       ANITA   AL051977
32526        BABE   AL061977
32550       CLARA   AL071977
32591     DOROTHY   AL101977
32624      EVELYN   AL131977
32634      FRIEDA   AL141977
32684      AMELIA   AL041978
32690        BESS   AL051978
32703        CORA   AL061978
32746       DEBRA   AL091978
32760        ELLA   AL101978
32829     FLOSSIE   AL131978
32889        HOPE   AL151978
32928       GRETA   AL161978
33008        IRMA   AL191978
33022      JULIET   AL201978
33069      KENDRA   AL231978
33124         ANA   AL021979
33164         BOB   AL041979
33207   CLAUDETTE   AL061979
33303       DAVID   AL091979
33371    FREDERIC   AL111979
33439       ELENA   AL121979
33473      GLORIA   AL141979
33517       HENRI   AL151979
33702       ALLEN   AL041980
33765      BONNIE   AL061980
33789     CHARLEY   AL071980
33828     GEORGES   AL091980
33860        EARL   AL101980
33887    DANIELLE   AL111980
33899     FRANCES   AL121980
33960     HERMINE   AL131980
33983        IVAN   AL141980
34037      JEANNE   AL161980
34097        KARL   AL181980
34125      ARLENE   AL031981
34154        BRET   AL061981
34178       CINDY   AL091981
34190      DENNIS   AL101981
34281       EMILY   AL131981
34328       FLOYD   AL141981
34365        GERT   AL151981
34401      HARVEY   AL161981
34446       IRENE   AL181981
34530        JOSE   AL201981
34545     KATRINA   AL211981
34585     ALBERTO   AL011982
34614       BERYL   AL031982
34666       CHRIS   AL051982
34682       DEBBY   AL061982
34727     ERNESTO   AL081982
34785      ALICIA   AL031983
34810       BARRY   AL041983
34836     CHANTAL   AL051983
34856        DEAN   AL061983
34927      ARTHUR   AL061984
34960      BERTHA   AL071984
34982       CESAR   AL081984
35002       DIANA   AL101984
35035     EDOUARD   AL111984
35042        FRAN   AL121984
35063      GUSTAV   AL131984
35074    HORTENSE   AL141984
35114     ISIDORE   AL151984
35139   JOSEPHINE   AL161984
35207       KLAUS   AL181984
35260        LILI   AL201984
35309         ANA   AL011985
35325         BOB   AL021985
35346   CLAUDETTE   AL031985
35376       DANNY   AL041985
35413       ELENA   AL051985
35477      FABIAN   AL081985
35493      GLORIA   AL091985
35558       HENRI   AL101985
35573      ISABEL   AL111985
35609        JUAN   AL121985
35638        KATE   AL131985
35682      ANDREW   AL011986
35698      BONNIE   AL021986
35747     CHARLEY   AL051986
35849    DANIELLE   AL081986
35863        EARL   AL091986
35901     FRANCES   AL101986
35977      ARLENE   AL021987
36069        BRET   AL051987
36109       CINDY   AL071987
36150      DENNIS   AL101987
36216       EMILY   AL121987
36246       FLOYD   AL131987
36284     ALBERTO   AL011988
36297       BERYL   AL021988
36309       CHRIS   AL031988
36348       DEBBY   AL041988
36381     ERNESTO   AL051988
36403    FLORENCE   AL071988
36423     GILBERT   AL081988
36472      HELENE   AL091988
36516       ISAAC   AL101988
36528        JOAN   AL111988
36581       KEITH   AL121988
36721     ALLISON   AL021989
36750       BARRY   AL031989
36768     CHANTAL   AL041989
36784        DEAN   AL051989
36858        ERIN   AL071989
36895       FELIX   AL081989
36964   GABRIELLE   AL101989
37022        HUGO   AL111989
37086        IRIS   AL121989
37122       JERRY   AL141989
37142       KAREN   AL151989
37173      ARTHUR   AL021990
37195      BERTHA   AL031990
37232       CESAR   AL041990
37263     EDOUARD   AL061990
37307       DIANA   AL051990
37332        FRAN   AL071990
37345      GUSTAV   AL081990
37386    HORTENSE   AL091990
37412     ISIDORE   AL101990
37504   JOSEPHINE   AL121990
37566       KLAUS   AL131990
37591        LILI   AL141990
37629       MARCO   AL151990
37646        NANA   AL161990
37669         ANA   AL011991
37700         BOB   AL031991
37775   CLAUDETTE   AL061991
37818       DANNY   AL071991
37837       ERIKA   AL081991
37855      FABIAN   AL091991
37871       GRACE   AL111991
37938      ANDREW   AL041992
37990      BONNIE   AL051992
38051     CHARLEY   AL061992
38081    DANIELLE   AL071992
38124        EARL   AL091992
38153     FRANCES   AL101992
38195      ARLENE   AL021993
38210        BRET   AL031993
38243       CINDY   AL041993
38255       EMILY   AL051993
38316      DENNIS   AL061993
38337       FLOYD   AL071993
38360        GERT   AL081993
38390      HARVEY   AL091993
38408     ALBERTO   AL011994
38446       BERYL   AL031994
38466       CHRIS   AL041994
38505       DEBBY   AL061994
38513     ERNESTO   AL071994
38555    FLORENCE   AL111994
38583      GORDON   AL121994
38642     ALLISON   AL011995
38677       BARRY   AL021995
38701     CHANTAL   AL031995
38742        DEAN   AL041995
38764        ERIN   AL051995
38803       FELIX   AL071995
38872   GABRIELLE   AL081995
38883    HUMBERTO   AL091995
38924        IRIS   AL101995
38990       JERRY   AL111995
39012       KAREN   AL121995
39043        LUIS   AL131995
39126     MARILYN   AL151995
39205        NOEL   AL161995
39250        OPAL   AL171995
39289       PABLO   AL181995
39305     ROXANNE   AL191995
39361   SEBASTIEN   AL201995
39380       TANYA   AL211995
39409      ARTHUR   AL011996
39431      BERTHA   AL021996
39482       CESAR   AL031996
39500       DOLLY   AL041996
39525     EDOUARD   AL051996
39598        FRAN   AL061996
39670      GUSTAV   AL071996
39699    HORTENSE   AL081996
39752     ISIDORE   AL091996
39785   JOSEPHINE   AL101996
39832        KYLE   AL111996
39839        LILI   AL121996
39899       MARCO   AL131996
39962         ANA   AL021997
39981        BILL   AL031997
39991   CLAUDETTE   AL041997
40007       DANNY   AL051997
40062       ERIKA   AL071997
40129      FABIAN   AL081997
40146       GRACE   AL091997
40159        ALEX   AL011998
40185      BONNIE   AL021998
40234     CHARLEY   AL031998
40247    DANIELLE   AL041998
40308        EARL   AL051998
40341     FRANCES   AL061998
40362     GEORGES   AL071998
40433     HERMINE   AL081998
40448        IVAN   AL091998
40484      JEANNE   AL101998
40538        KARL   AL111998
40564        LISA   AL121998
40585       MITCH   AL131998
40663      NICOLE   AL141998
40698      ARLENE   AL011999
40728        BRET   AL031999
40754       CINDY   AL041999
40805      DENNIS   AL051999
40871       EMILY   AL061999
40897       FLOYD   AL081999
40947        GERT   AL091999
40996      HARVEY   AL101999
41032       IRENE   AL131999
41066        JOSE   AL141999
41100     KATRINA   AL151999
41116       LENNY   AL161999
41171     ALBERTO   AL032000
41271       BERYL   AL052000
41280       CHRIS   AL062000
41289       DEBBY   AL072000
41312     ERNESTO   AL082000
41328    FLORENCE   AL102000
41357      GORDON   AL112000
41386      HELENE   AL122000
41428       ISAAC   AL132000
41480       JOYCE   AL142000
41508       KEITH   AL152000
41543      LESLIE   AL162000
41569     MICHAEL   AL172000
41591      NADINE   AL182000
41624     ALLISON   AL012001
41686       BARRY   AL032001
41711     CHANTAL   AL042001
41744        DEAN   AL052001
41773        ERIN   AL062001
41835       FELIX   AL072001
41881   GABRIELLE   AL082001
41926    HUMBERTO   AL102001
41952        IRIS   AL112001
41974       JERRY   AL122001
41984       KAREN   AL132001
42003     LORENZO   AL142001
42019    MICHELLE   AL152001
42054        NOEL   AL162001
42066        OLGA   AL172001
42113      ARTHUR   AL012002
42133      BERTHA   AL022002
42156   CRISTOBAL   AL032002
42169       DOLLY   AL042002
42195     EDOUARD   AL052002
42216         FAY   AL062002
42244      GUSTAV   AL082002
42274       HANNA   AL092002
42291     ISIDORE   AL102002
42346   JOSEPHINE   AL112002
42355        KYLE   AL122002
42445        LILI   AL132002
42513         ANA   AL012003
42556        BILL   AL032003
42577   CLAUDETTE   AL042003
42622       DANNY   AL052003
42681       ERIKA   AL082003
42696      FABIAN   AL102003
42749       GRACE   AL112003
42762       HENRI   AL122003
42784      ISABEL   AL132003
42852        JUAN   AL152003
42874        KATE   AL162003
42932       LARRY   AL172003
42974       MINDY   AL182003
42988    NICHOLAS   AL192003
43068      ODETTE   AL202003
43091       PETER   AL212003
43106        ALEX   AL012004
43131      BONNIE   AL022004
43175     CHARLEY   AL032004
43205    DANIELLE   AL042004
43251        EARL   AL052004
43260     FRANCES   AL062004
43335      GASTON   AL072004
43363     HERMINE   AL082004
43379        IVAN   AL092004
43486      JEANNE   AL112004
43555        KARL   AL122004
43603        LISA   AL132004
43658     MATTHEW   AL142004
43671      NICOLE   AL152004
43679        OTTO   AL162004
43718      ARLENE   AL012005
43744        BRET   AL022005
43751       CINDY   AL032005
43785      DENNIS   AL042005
43844       EMILY   AL052005
43889    FRANKLIN   AL062005
43927        GERT   AL072005
43936      HARVEY   AL082005
43982       IRENE   AL092005
44038         TEN   AL102005
44059        JOSE   AL112005
44065     KATRINA   AL122005
44099         LEE   AL132005
44125       MARIA   AL142005
44176        NATE   AL152005
44205     OPHELIA   AL162005
44274    PHILIPPE   AL172005
44302        RITA   AL182005
44338    NINETEEN   AL192005
44347        STAN   AL202005
44371       TAMMY   AL222005
44380  TWENTY-TWO   AL232005
44407       VINCE   AL242005
44422       WILMA   AL252005
44470       ALPHA   AL262005
44481        BETA   AL272005
44499       GAMMA   AL282005
44532       DELTA   AL292005
44574     EPSILON   AL302005
44617        ZETA   AL312005
44653     ALBERTO   AL012006
44704       BERYL   AL032006
44722       CHRIS   AL042006
44745       DEBBY   AL052006
44771     ERNESTO   AL062006
44818    FLORENCE   AL072006
44880      GORDON   AL082006
44937      HELENE   AL092006
44999       ISAAC   AL102006
45023      ANDREA   AL012007
45054       BARRY   AL022007
45078     CHANTAL   AL032007
45101        DEAN   AL042007
45143        ERIN   AL052007
45164       FELIX   AL062007
45192   GABRIELLE   AL072007
45207      INGRID   AL082007
45233    HUMBERTO   AL092007
45244         TEN   AL102007
45248       JERRY   AL112007
45256       KAREN   AL122007
45275     LORENZO   AL132007
45289     MELISSA   AL142007
45320     FIFTEEN   AL152007
45346        NOEL   AL162007
45402        OLGA   AL172007
45427      ARTHUR   AL012008
45437      BERTHA   AL022008
45511   CRISTOBAL   AL032008
45529       DOLLY   AL042008
45560     EDOUARD   AL052008
45574         FAY   AL062008
45634      GUSTAV   AL072008
45684       HANNA   AL082008
45733         IKE   AL092008
45795   JOSEPHINE   AL102008
45828        KYLE   AL112008
45851       LAURA   AL122008
45885       MARCO   AL132008
45893        NANA   AL142008
45907        OMAR   AL152008
45939     SIXTEEN   AL162008
45947      PALOMA   AL172008
45983         ONE   AL012009
45998         ANA   AL022009
46024        BILL   AL032009
46070   CLAUDETTE   AL042009
46078       DANNY   AL052009
46090       ERIKA   AL062009
46102        FRED   AL072009
46150       EIGHT   AL082009
46157       GRACE   AL092009
46194       HENRI   AL102009
46217         IDA   AL112009
46248        ALEX   AL012010
46280         TWO   AL022010
46293      BONNIE   AL032010
46311       COLIN   AL042010
46336        FIVE   AL052010
46368    DANIELLE   AL062010
46419        EARL   AL072010
46474       FIONA   AL082010
46498      GASTON   AL092010
46528     HERMINE   AL102010
46551        IGOR   AL112010
46612       JULIA   AL122010
46663        KARL   AL132010
46685        LISA   AL142010
46723     MATTHEW   AL152010
46739      NICOLE   AL162010
46751        OTTO   AL172010
46798       PAULA   AL182010
46819     RICHARD   AL192010
46848       SHARY   AL202010
46857       TOMAS   AL212010
46911      ARLENE   AL012011
46924        BRET   AL022011
46953       CINDY   AL032011
46966         DON   AL042011
46980       EMILY   AL052011
47004    FRANKLIN   AL062011
47019        GERT   AL072011
47038      HARVEY   AL082011
47055       IRENE   AL092011
47098         TEN   AL102011
47107        JOSE   AL112011
47120       KATIA   AL122011
47198         LEE   AL132011
47220       MARIA   AL142011
47262        NATE   AL152011
47285     OPHELIA   AL162011
47344    PHILIPPE   AL172011
47409        RINA   AL182011
47440        SEAN   AL192011
47468     ALBERTO   AL012012
47488       BERYL   AL022012
47521       CHRIS   AL032012
47552       DEBBY   AL042012
47570     ERNESTO   AL052012
47609    FLORENCE   AL062012
47630      HELENE   AL072012
47668      GORDON   AL082012
47694       ISAAC   AL092012
47745       JOYCE   AL102012
47757        KIRK   AL112012
47779      LESLIE   AL122012
47839     MICHAEL   AL132012
47881      NADINE   AL142012
47977       OSCAR   AL152012
47990       PATTY   AL162012
48001      RAFAEL   AL172012
48057       SANDY   AL182012
48102        TONY   AL192012
48122      ANDREA   AL012013
48136       BARRY   AL022013
48159     CHANTAL   AL032013
48172      DORIAN   AL042013
48223        ERIN   AL052013
48243     FERNAND   AL062013
48250   GABRIELLE   AL072013
48286       EIGHT   AL082013
48290    HUMBERTO   AL092013
48336      INGRID   AL102013
48358       JERRY   AL112013
48391       KAREN   AL122013
48405     LORENZO   AL132013
48426     MELISSA   AL142013
48468      ARTHUR   AL012014
48515         TWO   AL022014
48532      BERTHA   AL032014
48579   CRISTOBAL   AL042014
48618       DOLLY   AL052014
48631     EDOUARD   AL062014
48678         FAY   AL072014
48692     GONZALO   AL082014
48731       HANNA   AL092014
48768         ANA   AL012015
48796        BILL   AL022015

In [433]:
pd.DataFrame(df_names["name"].value_counts()).iloc[0]

count    11
Name: ARLENE, dtype: int64

In [434]:
df_names["year"] = df_names['identifier'].str[-4:]
pd.DataFrame(df_names.value_counts('year')).iloc[0]

count    30
Name: 2005, dtype: int64

In [435]:
df.iloc[df["latitude"].idxmax()]

identifier                 AL091951
name                            HOW
num_pts                          53
record_id                       NaN
status                           EX
latitude                       81.0
longitude                      48.0
max_wind                         50
min_pressure                   -999
datetime        1951-10-11T12:00:00
Name: 22753, dtype: object

In [436]:
df[df["min_pressure"]!=-999].sort_values('min_pressure').iloc[0]

identifier                 AL252005
name                          WILMA
num_pts                          48
record_id                       NaN
status                           HU
latitude                       17.3
longitude                     -82.8
max_wind                        160
min_pressure                    882
datetime        2005-10-19T12:00:00
Name: 44437, dtype: object

In [437]:
df["year"] = df["datetime"].str[:4]
df["month"] = df["datetime"].str[5:7]
ct_df = df.drop_duplicates(subset='identifier')

In [438]:
with pd.option_context('display.max_rows', 10):
    ct = pd.crosstab(ct_df["year"],ct_df["month"],margins=True)
    display(ct)

month  01  02  03  04  05   06   07   08   09   10  11  12   All
year
1851    0   0   0   0   0    1    2    1    1    1   0   0     6
1852    0   0   0   0   0    0    0    1    3    1   0   0     5
1853    0   0   0   0   0    0    0    3    4    1   0   0     8
1854    0   0   0   0   0    1    0    1    2    1   0   0     5
1855    0   0   0   0   0    0    0    4    1    0   0   0     5
...    ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ..  ..   ...
2014    0   0   0   0   0    1    2    1    2    3   0   0     9
2015    0   0   0   0   1    1    1    3    5    0   1   0    12
2016    1   0   0   0   1    2    0    5    5    1   1   0    16
2017    0   0   0   1   0    2    3    4    4    3   1   0    18
All     4   1   1   6  37  123  168  445  614  349  86  14  1848

[168 rows x 13 columns]

In [460]:
df_maria = df[(df['name'] == 'MARIA') & (df['year'] == '2017')]
alt.Chart(df_maria).mark_line(point=True).encode(
    alt.X('min_pressure', scale=alt.Scale(zero=False)),
    alt.Y('max_wind', scale=alt.Scale(zero=False)),
    order='datetime'   
)

alt.Chart(...)